TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DATABASE_URL=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_DATABASE=stripe_poc_db
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
ADMIN_API_TOKEN=